---
http_interactions:
- request:
    method: post
    uri: https://rider.amtrak.com/MobileApps/TrainStatus
    body:
      encoding: UTF-8
      string: '{"dateTime":"2017-10-12","origin":"PVD","destination":"BBY","type":"A","versionNumber":"2.2.12"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - '3833616487'
      X-Dp-Tid:
      - '3833616487'
      X-Dp-Srversion:
      - '1.0'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
           "appVersion": "1.51",
           "authenticationToken": null,
           "buildNumber": "1.51_20170909.0300",
           "hostName": "ussbpri031amtra",
           "infoNotification": null,
           "journeys": [
              {
                 "alternative": null,
                 "bedRoomClassPrice": null,
                 "duration": null,
                 "durationMinutes": 0,
                 "journeyTotalFare": null,
                 "lowFareClass": null,
                 "modifiable": null,
                 "passenger": null,
                 "refId": null,
                 "rooms": null,
                 "seats": null,
                 "segments": [
                    {
                       "additionalInfo": null,
                       "amenities": null,
                       "ancillary": null,
                       "appType": null,
                       "arrivalDateTime": null,
                       "arrivalStationCode": null,
                       "arrivalStationName": null,
                       "authenticationToken": null,
                       "classCode": null,
                       "classCodeQuantity": null,
                       "companyName": null,
                       "compartments": null,
                       "crossBorder": null,
                       "departureDateTime": null,
                       "departureDateTimeInUTC": null,
                       "departureStationCode": null,
                       "departureStationName": null,
                       "destinationEstimatedArrivalDateTime": "2017-10-12T00:11:00",
                       "destinationPostedArrivalDateTime": null,
                       "destinationScheduledArrivalDateTime": "2017-10-12T00:14:00",
                       "destinationStationCode": "BBY",
                       "destinationStatusComment": null,
                       "displayRoomNumbers": false,
                       "duration": null,
                       "durationMinutes": 0,
                       "isAlternative": null,
                       "isBus": null,
                       "isRestrictive": null,
                       "originEstimatedDepartureDateTime": "2017-10-11T23:29:00",
                       "originPostedDepartureDateTime": null,
                       "originScheduledDepartureDateTime": "2017-10-11T23:29:00",
                       "originStationCode": "PVD",
                       "originStatusComment": null,
                       "rooms": null,
                       "routeName": "Northeast Regional",
                       "seats": null,
                       "segmentServiceStatus": "false",
                       "serviceMessage": "03 MI EARLY",
                       "serviceStatus": null,
                       "trainNumber": "178",
                       "validate": true,
                       "versionNumber": null
                    }
                 ]
              },
              {
                 "alternative": null,
                 "bedRoomClassPrice": null,
                 "duration": null,
                 "durationMinutes": 0,
                 "journeyTotalFare": null,
                 "lowFareClass": null,
                 "modifiable": null,
                 "passenger": null,
                 "refId": null,
                 "rooms": null,[...]
