---
http_interactions:
- request:
    method: post
    uri: https://rider.amtrak.com/MobileApps/TrainStatus
    body:
      encoding: UTF-8
      string: '{"dateTime":"2014-10-12","origin":"PVD","destination":"BBY","type":"A","versionNumber":"2.2.12"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      X-Global-Transaction-Id:
      - '95087665'
      X-Dp-Tid:
      - '95087665'
      X-Dp-Srversion:
      - '1.0'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
           "appVersion": null,
           "authenticationToken": null,
           "buildNumber": null,
           "errors": [
              {
                 "ariesMessage": null,
                 "code": "R602",
                 "text": "There are no upcoming trains on the date selected.  Please check the date or try searching from 1:00am. [R602]",
                 "type": "R602"
              }
           ],
           "hostName": null,
           "infoNotification": null,
           "responseCode": "ERROR"
        }
  recorded_at: Thu, 12 Oct 2017 01:37:20 GMT
recorded_with: VCR 2.9.3
