---
http_interactions:
- request:
    method: post
    uri: https://tickets.amtrak.com/Rider/jaxrs/TrainStatus
    body:
      encoding: UTF-8
      string: '{"appType":"IBL","versionNumber":"2.5.0","type":"D","dateTime":"2015-10-13T00:00:00","origin":"PVD","destination":"BBY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        {
           "appVersion": "1.25",
           "buildNumber": "20141222.1600",
           "hostName": "ridrwas02p.amtrak.ad.nrpc",
           "infoNotification": null,
           "journeys": [
              {
                 "alternative": null,
                 "bedRoomClassPrice": null,
                 "duration": null,
                 "durationMinutes": 0,
                 "journeyTotalFare": null,
                 "lowFareClass": null,
                 "modifiable": null,
                 "passenger": null,
                 "refId": null,
                 "rooms": null,
                 "seats": null,
                 "segments": [
                    {
                       "amenities": null,
                       "appType": null,
                       "arrivalDateTime": null,
                       "arrivalStationCode": null,
                       "arrivalStationName": null,
                       "classCode": null,
                       "classCodeQuantity": null,
                       "companyName": null,
                       "compartments": null,
                       "crossBorder": null,
                       "departureDateTime": null,
                       "departureDateTimeInUTC": null,
                       "departureStationCode": null,
                       "departureStationName": null,
                       "destinationEstimatedArrivalDateTime": null,
                       "destinationPostedArrivalDateTime": "2015-10-13T07:49:00",
                       "destinationScheduledArrivalDateTime": "2015-10-13T07:53:00",
                       "destinationStationCode": "BBY",
                       "destinationStatusComment": null,
                       "duration": null,
                       "durationMinutes": 0,
                       "isAlternative": null,
                       "isBus": null,
                       "isRestrictive": null,
                       "originEstimatedDepartureDateTime": null,
                       "originPostedDepartureDateTime": "2015-10-13T06:57:00",
                       "originScheduledDepartureDateTime": "2015-10-13T06:56:00",
                       "originStationCode": "PVD",
                       "originStatusComment": null,
                       "rooms": null,
                       "routeName": "Northeast Regional",
                       "seats": null,
                       "segmentServiceStatus": "false",
                       "serviceMessage": null,
                       "serviceStatus": null,
                       "trainNumber": "66",
                       "versionNumber": null
                    }
                 ]
              },
              {
                 "alternative": null,
                 "bedRoomClassPrice": null,
                 "duration": null,
                 "durationMinutes": 0,
                 "journeyTotalFare": null,
                 "lowFareClass": null,
                 "modifiable": null,
                 "passenger": null,
                 "refId": null,
                 "rooms": null,[...]
